.container {
  margin: 0 auto;
  padding: 0 16px;
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 36px;
  letter-spacing: 1.5;
  margin-bottom: 30px;
}
.text {
  font-size: 18px;
  line-height: 1.5;
}
.title_span {
  color: green;
}
.span {
  color: rgb(175, 31, 175);
}

.icon {
  padding-right: 10px;
}
